{% extends "simulator/base.html" %}
{% block content %}
<h2>Airport List</h2>
{% if request.user.is_authenticated and request.user.profile.is_staff_role %}
<a href="{% url 'simulator:airport_create' %}">
    Add Airport
</a>
{% endif %}
<br><br>
<table border="1" cellpadding="8">
    <tr>
        <th>Code</th>
        <th>Name</th>
        <th>City</th>
        <th>Country</th>
        <th>Action</th>
    </tr>
    {% for airport in airports %}
    <tr>
        <td>{{ airport.code }}</td>
        <td>{{ airport.name }}</td>
        <td>{{ airport.city }}</td>
        <td>{{ airport.country }}</td>
        <td>
            {% if request.user.is_authenticated and request.user.profile.is_staff_role %}
            <a href="{% url 'simulator:airport_update' airport.id %}">
                Edit
            </a>
            |
            <a href="{% url 'simulator:airport_delete' airport.id %}">
                Delete
            </a>
            {% else %}
            No Permission
            {% endif %}
            </td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="5">No Airports Found</td>
    </tr>

    {% endfor %}

</table>

{% endblock %}